
/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif ;
}

p{
    font-size: 0.85em;
    line-height: 1.5rem;
    margin-bottom: 1.5em;
}

h3{
    font-size: 2.2em;
}

h4{
    font-size: 1.5em;
    margin-bottom: 20px;
}

h5{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.inline-block{
    display: inline-block
} 

/* dare spessore ai contenitore ad altezza 0 */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* impilare glli oggetti a dx o sx */
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* da usare come chiodo per il figlio che sarà absolute */
.relative{
    position:relative;
}

/* dare una posizione precisa */
.absolute{
    position: absolute;
}

/* !CONTAINER */
section.container-top{
    height: 80px;
    font-size: 15px;
    line-height: 80px;
    padding: 0 15px;
    background-color: rgba(255,254,254,255);
}

section.container-nav,
section.container-jumbo{
    width:80%;
    min-width: 800px;
    max-width: 1180px;
    margin:0 auto;
}

section.container{
    width:60%;
    min-width: 800px;
    max-width: 1180px;
    margin:0 auto;
}

/* HEADER */

div.head-dx img, 
div.head-sx{
    vertical-align: middle;
    text-align: center;
}

/* *sezioni di controllo */
div.head-dx, 
div.head-sx{
    width:10%;
}

nav.top-nav ul li{
    list-style-type: none;
    display: inline;
    margin:0 1.1rem;
}

nav.top-nav ul li a{
    text-decoration: none;
    color: black;

}

nav.top-nav ul li:hover{
    text-decoration: solid;
    text-decoration-color:black;
    border-bottom: 2px solid black;
    padding-bottom:30px;
}

/* classe generica per i button futuri */
.button{
    display: inline;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 1.5em;
    border: none;
    background-color: rgba(0,96,254,255);
    color: whitesmoke;
    transition-duration: 0.4s;
}

.button:hover{
    filter: drop-shadow(1px 3px 5px blue);
}




div.aside-dx{
    width: 30%;
    height: 100%;
    margin-right: 4rem;
    
}
div.aside-sx{
    width: calc(70% - 4rem);
    height: 100%;
}
div.aside-dx button{
    margin: 1.5em 0;
}
div.aside-dx i{
    font-size: 2em;
}

section#jumbotron{
    background-color: rgba(181,208,230,255);
    width: 100%;
    height: 580px;
    margin-bottom: 170px;
}

section#jumbotron h1{
    font-size: 4.1em;
    padding: 20px 0;
}

section#jumbotron img{
    width: 100%;
}

section.container h3{
    margin-bottom: 45px;
}
div.checkbox label{
    margin-right: 30px;
}

/*  comando provvisorio per il magin botton container */
.mg-bottom{
    margin-bottom: 3em;
} 

/* ! STRUTTUTA COLONNE  */
div.column-sx,
div.column-dx,
div.column-central{
    width: calc((100% /3) - 2em);
    height: 950px;
    border: 1px solid rgba(230,232,234,255);
    margin-bottom: 60px;
}

div.column-central{
    margin:0 3em;
} 

div.column-expanse{
    width: 100%; /* centrato al PIXEL */
    height: 250px;
    border: 1px solid rgba(230,232,234,255);
    margin-bottom: 3.5em;
}

div.main-col{
    padding: 1.5em;
}

div.price{
    margin-bottom:1.5em;
} 

div.price p:nth-child(3){
    color: rgba(148,158,168,255);
}


div.head-col{
    text-align: center;
    border-bottom: 1px solid rgba(230,232,234,255);
    padding: .4em 0;
}

div.head-col i{
    margin-right: 0.4em;
}

div.main-col p{
    line-height: 30px;
}

div.service-top ul.fa-ul,
div.service-bottom ul.fa-ul{
    margin-left:0;
    padding-left:1.5em;
}

div.service-top ul li,
div.service-bottom ul li{
    font-size: 0.8em;
    line-height: 2em;
    margin-bottom: 1em;
}

div.main-col p > span{
    border-bottom: 1px solid rgba(230,232,234,255);
    padding-bottom: 2em;
}

div.main-col button{
    margin: 2em 0;
}

div.service-middle{
    margin-bottom: 3.5em;
}

div.service-bottom h5{
    margin-bottom: 1.5em;
}

div.service-bottom ul.fa-ul li span.fa-li{
    color:rgba(3,99,255,255);
}

div.enterprise,
div.contact{
    padding:1.5em;
}

/* div.enterprise h5{
    margin-bottom: 1.1em;
} */

div.enterprise{
    width: 70%;
}

div.contact{
    width: 30%;
}
/* !FINE SEZIONE COLONNE */

/* *SEZIONE ADVISOR */

section div.advisor-sx,
section div.advisor-dx{
    margin-bottom: 3em;
}




section div.advisor-sx{
    width: 60%;
}

section div.advisor-dx{
    width: 40%;
    padding-left: 2em;
    padding-top: 2em;
}

section div.advisor-sx img{
    width: 95%;
}

section div.advisor-dx button.button,
section div.info-dx button{
    color:rgba(59,59,58,255);
    background-color: white;
    border: 1px solid rgba(59,59,58,255) ;
}


/* SEZIONE CARD IN ROW */ /* !prova a dare ai container un margin bottom 30px così da togliere quel provvisorio */
section div.row{
    width: 100%;
/*     background-color: aquamarine; */
}

div.card-aside img,
div.card-central img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 2em;
}

section div.card-aside,
section div.card-central{
    width: calc((100% / 3) - 2em);
    margin-bottom: 3em;
}

section div.card-central{
    margin: 0 3em;
}

section div.info-sx{
    width: 70%;

}

section div.info-dx{
    width: 30%;
    padding-top: 1em;
    padding-left: 3em;
}

.box-bg-azzurrino{
    background-color: rgba(181,209,231,255);
    height: 300px;
    padding-top: 5em;
}

section.box-bottom{
    background-color: blueviolet;
    width: 100%;
    height: 50vh;
}

section div.column-aside{
    width: 30vw;
    height: 50vh;
    background-color:aqua;
}

section div.column{
    width: 40vw;
    height: 50vh;
    background-color: rgba(244,244,245,255);
    padding: 3em;
    overflow: scroll;
}

section div div.box-small{
    width:50%;
    height: 50%;
}

section div.column-aside div img{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    filter: invert(1);
}

section div.column img{
    width: 30%;
    float: left;
    margin-bottom: 4em;
}


/* Possiamo utilizzare sia il position che il float, in uqesto caso per velocizzare, usiamo il float */
/*     position: absolute;
    top: 3em;
    left: 3em; */

section div div.review{
    line-height: 4em;
    font-size: 1.3em;
}

section div div.review p:first-child{
    margin-bottom: 4em;
}

/* *Gesione colori svg  */


section div div.bg-green{
    background-color: rgba(162,211,155,255);
    border: 0.7em solid  rgba(208,233,205,255);
}

section div div.bg-brown{
    background-color: rgba(97,9,42,255);
}

section div div.bg-lightblue{
    background-color: rgba(0,146,207,255);
}

section div div.bg-red{
    background-color:rgba(254,29,28,255);
}

section div div.bg-hardred{
    background-color: rgba(212,1,31,255);
}

section div div.bg-lightgrey{
    background-color: rgba(181,208,230,255);
}

section div div.bg-blue{
    background-color: rgba(13,36,129,255);
}

section div div.bg-yellow{
    background-color: rgba(255,217,49,255);
}


div.faq-box{
    padding: 3em 0;
}

div.faq-box h5,
div.faq-box h4{
    border-bottom: 1px solid rgba(230,232,234,255);
    line-height: 30px;
    padding-bottom:  2em;
    position: relative;
}

div.faq-box h5 > i{
    position: absolute;
    right: 30px;
    top: 15px;
    transform: translateY(-7px);
}

/* Footer */

section.container-bootom{
    width: 100%;
    height: 500px;
    font-size: 15px;
    line-height: 30px;
    padding:5em;
    background-color: rgba(0,0,0,255);
    color: whitesmoke;
}
div.container-nav-bottom{
    width:80%;
    height: 100%;
    min-width: 800px;
    max-width: 1180px;
    margin:0 auto;
}

div.nav-aside{ 
    width: calc(100% / 5);
    margin-bottom: 5em;
}

div.nav-aside nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

div.nav-aside nav ul li{
    list-style-type: none;
}


div.container-nav-bottom span{
    position: absolute;
    bottom:20px;
    left:0;
    padding: 3em 2em 0 0;
    border-top: 1px solid whitesmoke;
}

div.container-nav-bottom span i{
    padding:3px;
}

div.container-nav-bottom span i:nth-child(2){
    vertical-align: bottom;
}

/* !EFFETTO OVER NEL LINK IN HEADER */

#support{
    position: relative;
    display: inline-block;
}

#drop-link{
    padding: 16px;
    font-size: 16px;
    border: none;
}

#menu-support{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#menu-support a{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#drop-link:hover #menu-support {
    display: block;
}


/* Posso inserirle l'id nel container Headerma preferisco tenerlo qui per fare altre prove con le atre proprietà */
#menu-fisso{
    position:fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}